* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-Negro: #000000;
    --color-Blanco: #FFFFFF;
    --color-hover: #2b97fa;
    --color-button: #01c4e7;
    --color-Azulcielo: #6664ff;
    --color-Violeta-noche: #1b004b;
    --color-Gris: #8583836e;
}

/* NAVBAR SECTION */

header {
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: var(--color-Negro);
}

.link-list {
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.link-list ul {
    display: flex;
    list-style: none;
}

.link-list li {
    padding: 10px;
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
}

.nav-link {
    color: var(--color-Blanco);
}

.nav-link:hover {
    color: var(--color-hover);
}

.nav-contacto {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 48px;
    background-color: var(--color-Azulcielo);
    color: var(--color-Negro);
    box-shadow: inset 0 0 20px rgba(66, 84, 245, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, 0.253);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-contacto:hover {
    background-color: var(--color-hover);
    color: var(--color-Negro);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.nav-contacto:active {
    transform: scale(1.3);
    box-shadow: 3px 2px 22px 1px rgba(126, 126, 126, 0.658);
}

/* ABOUT ME SECTION */

.about-me {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
}

.about-greeting {
    padding-top: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-me-greeting {
    font-size: 25px;
    font-weight: 600;
    color: var(--color-Blanco);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.377);
}

.about-me-description {
    width: 700px;
    font-size: 19px;
    font-weight: 400;
    color: var(--color-Blanco);
}

.about-greeting h1 {
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(45deg, #6664ff, #2b97fa, #01c4e7, #55ffe2, #01c4e7, #2b97fa, #6664ff);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.281);
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.about-button {
    margin-top: 25px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: var(--color-Azulcielo);
    color: #FFFFFF;
    box-shadow: inset 0 0 20px rgba(66, 84, 245, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.253);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.about-button:hover {
    background-color: var(--color-hover);
    color: var(--color-Negro);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.about-button:active {
    transform: scale(1.3);
    box-shadow: 3px 2px 22px 1px rgba(126, 126, 126, 0.658);
}

.about-svg {
    width: 350px;
    margin: 10px;
    text-align: center;
}

.about-svg img {
    width: 80%;
    border-radius: 50%;
}


/* SKILL SECTION */

.skills-section {
    min-height: 100vh;
    background-color: var(--color-Negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-text {
    padding: 30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-Blanco);
}

.skills-text h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.skills-text p {
    font-size: 18px;
    text-align: center;
}

.grid-skills {
    margin-bottom: 100px;
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    height: 250px;
    width: 250px;
    gap: 10px;
    color: var(--color-Blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url(Img/gloria-rodgers-galaxy-signed.jpg);
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.253);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card p {
    font-size: 20px;
}

.card:hover {
    background-color: var(--color-hover);
    color: var(--color-Blanco);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    text-shadow: 1px 1px 2px #427388;
}

.card img {
    height: 75px;
}

/* QUOTE SECTION */

.quote-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, #6664ff, #2b97fa, #01c4e7, #2b97fa, #6664ff);
    color: var(--color-Blanco);
    box-shadow: 0px 0px 90px 4px rgba(0, 0, 0, 0.50) inset;
}

.quote-icon {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    margin: 0 80px;
    font-size: 28px;
    text-align: center;
}

.quote h3 {
    margin: 80px 0;
    font-style: italic;
    font-size: 28px;
}

/* MY PROJECT SECTION */

.project-section {
    min-height: 100vh;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-Negro);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-Blanco);
}

.project-container h2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 55px;
}

.grid-project {
    margin: 20px;
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-project a {
    height: 280px;
    width: 280px;
    gap: 20px;
    padding: 30px;
    color: var(--color-Blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    background-image: url(Img/gloria-rodgers-galaxy-signed.jpg);
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.253);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.grid-project a:hover {
    background-color: var(--color-hover);
    color: var(--color-Blanco);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.img-project {
    width: 100%;
}

/* CONTACT ME SECTION */

.contact-section {
    min-height: 100vh;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 80px -24px #ffffff6e inset
}

.contact-text {
    height: 700px;
    width: 600px;
    padding: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: var(--color-Blanco);
}

.contact-text h2 {
    font-size: 40px;
}

.contact-text p {
    font-size: 20px;
}

.contact-links ul {
    text-decoration: none;
    list-style: none;
}

.contact-social-list {
    display: flex;
    margin: 5px 0;
}

.contact-social-list a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-Blanco);
}

.contact-social-link:hover {
    color: var(--color-hover);
}

.contact-social-link:hover .contact-social-icon {
    background-color: var(--color-hover);
    color: var(--color-Negro);
}

.contact-social-link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
}

.contact-social-icon {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--color-button);
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
}

.contact-form-section {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 21px;
    color: var(--color-Blanco);
}

.input-fullname {
    display: flex;
}

.form-control {
    gap: 50px;
    flex-grow: 1;
    position: relative;
}

.input-control {
    width: 100%;
    padding: 10px 35px;
    display: block;
    border-radius: 20px;
    outline-style: none;
    font-size: 20px;
    background-color: #ffffff6e;
    color: var(--color-Blanco);
}

.input-control:hover {
    box-shadow: 0px 0px 80px -24px inset;
    outline-style: none;
    background-color: var(--color-Gris);
    color: var(--color-Blanco);
}

.contact-send-btn {
    margin-top: 15px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: var(--color-button);
    color: #FFFFFF;
    box-shadow: inset 0 0 20px rgba(66, 84, 245, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.253);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contact-send-btn:hover {
    background-color: var(--color-hover);
    color: var(--color-Negro);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    cursor: pointer;
}

/* FOOTER */

.footer-nav {
    min-height: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Negro);
}

.footer-nav ul {
    gap: 10px;
    display: flex;
    list-style: none;
}

.footer-nav li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-Blanco);
}

.footer-nav a:hover {
    color: var(--color-hover);
}

.footer-text {
    color: var(--color-Blanco);
}

/* COMIENZO RESPONSIVE */

@media (max-width:880px) {

    header {
        justify-content: center;
    }

    .link-list {
        padding: 0px;
    }

    .link-list li {
        font-size: 15px;
    }

    .about-me {
        gap: 30px;
    }

    .about-greeting {
        text-align: center;
        align-items: center;
    }

    .about-greeting h1 {
        font-size: 70px;
    }

    .about-me-description {
        width: 400px;
        font-size: 15px;
    }

    .grid-skills {
        gap: 35px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        height: 200px;
        width: 200px;
    }

    .grid-project {
        gap: 35px;
    }

    .grid-project a {
        height: 200px;
        width: 200px;
    }

    .contact-container {
        flex-direction: column;
        border-radius: 20px;
    }

    .contact-text {
        height: 500px;
        width: 400px;
    }

    .input-fullname {
        flex-direction: column;
        font-size: 18px;
    }

    .form-control {
        font-size: 18px;
    }

    .footer-nav ul {
        text-align: center;
        gap: 10px;
    }

    .footer-list li a {
        font-size: 15px;
    }
}

@media (max-width:480px) {
    header {
        display: none;
    }

    .about-me {
        gap: 40px;
    }

    .about-greeting h1 {
        text-align: center;
        font-size: 60px;
    }

    .about-me-description {
        width: 300px;
    }

    .skills-text h2 {
        font-size: 30px;
    }

    .grid-skills {
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        height: 150px;
        width: 150px;
    }

    .card p {
        font-size: 15px;
    }

    .grid-project {
        grid-template-columns: 1fr;
    }

    .project-container p {
        width: 300px;
        text-align: center;
        font-size: 15px;
    }

    .contact-container {
        flex-direction: column;
        border-radius: 20px;
    }

    .contact-text {
        height: 450px;
        width: 350px;
    }

    .contact-form-section {
        width: 350px;
    }

    .contact-text p {
        font-size: 15px;
    }

    .input-fullname {
        flex-direction: column;
        font-size: 18px;
    }

    .form-control {
        font-size: 18px;
    }

    .footer-list ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}