* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-Negro: #000000;
    --color-Blanco: #FFFFFF;
    --color-Lila-hover: #bc4ed8;
    --color-Violeta-button: #a608e4;
    --color-Violeta-oscuro: #4c007d;
    --color-Violeta-noche: #1b004b;
    --color-Gris: #ffffff6e;
}

/* NAVBAR SECTION */

header {
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: var(--color-Negro);
}

.link-list {
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.link-list ul {
    display: flex;
    list-style: none;
}

.link-list li{
    padding: 10px;
}

.nav-link {
    text-decoration: none;
}

.nav-link {
    color: var(--color-Blanco);
}

.nav-link:hover {
    color: var(--color-Lila-hover);
}

.nav-contacto {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 48px;
    background-color: var(--color-Violeta-button);
    color: var(--color-Negro);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.25);
}

.nav-contacto:hover {
    background-color: var(--color-Lila-hover);
    color: var(--color-Negro);
}

/* ABOUT ME SECTION */

.about-me {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
}

.about-greeting {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-greeting p {
    font-size: 25px;
    font-weight: 500;
    color: var(--color-Blanco);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
}

.about-greeting h1 {
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    background: linear-gradient(45deg, #a608e4, #4c007d, #a608e4);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.164);
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.about-button {
    margin-top: 25px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: var(--color-Violeta-button);
    color: #FFFFFF;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.19);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}

.about-button:hover {
    background-color: var(--color-Lila-hover);
    color: var(--color-Negro);
}

.about-svg {
    width: 500px;
    padding: 20px;
}

.about-svg img {
    width: 100%;
}


/* SKILL SECTION */

.skills-section {
    min-height: 100vh;
    background-color: var(--color-Negro);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-text {
    width: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-Blanco);
}

.skills-text h2 {
    padding: 30px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.skills-text p {
    font-size: 20px;
    text-align: center;
}

.grid-skills {
    height: 1200px;
    width: 1200px;
    margin: 40px;
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 300px;
    color: var(--color-Blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
    box-shadow: 0px 0px 80px -24px rgba(255, 255, 255, 0.432) inset
}

.card p {
    margin: 30px;
    font-size: 20px;
}

.card:hover {
    box-shadow: 1px 1px 64px 23px rgba(104, 43, 209, 0.55) inset;
    color: var(--color-Blanco);

}

.card img {
    height: 80px;
    margin-top: 40px;
}

/* QUOTE SECTION */

.quote-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #4c007d, #6f03a5, #7c04b3, #8705c0, #9306ce, #8705c0, #7c04b3, #6f03a5, #4c007d);
    color: var(--color-Blanco);
    box-shadow: 0px 0px 90px 4px rgba(0, 0, 0, 0.50) inset;
}

.quote-icon {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    margin: 0 80px;
    font-size: 35px;
    text-align: center;
}

.quote h3 {
    margin: 80px 0;
    font-style: italic;
    font-size: 32px;
}

/* MY PROJECT SECTION */

.project-section {
    min-height: 100vh;
    gap: 40px
    ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-Negro);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-Blanco);
}

.project-container h2 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: 55px;
}

.project-container p {
    font-size: 25px;
}

.grid-project {
    height: 700px;
    width: 700px;
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-project a {
    height: 300px;
    width: 300px;
    padding: 50px;
    color: var(--color-Blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
    box-shadow: 0px 0px 80px -24px rgba(255, 255, 255, 0.432) inset
}

.grid-project a:hover {
    box-shadow: 1px 1px 64px 23px rgba(104, 43, 209, 0.397) inset;
    color: var(--color-Blanco);
}

.img-project {
    width: 100%;
}

/* CONTACT ME SECTION */

.contact-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Img/galaxy.webp);
    background-size: cover;
}

.contact-container {
    height: 700px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 0px 80px -24px #ffffff6e inset
}

.contact-text {
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--color-Blanco);
}

.contact-text h2 {
    font-size: 50px;
}

.contact-text p {
    font-size: 20px;
}

.contact-links ul {
    transition: 0.2s;
    text-decoration: none;
    list-style: none;
}

.contact-social-list {
    display: flex;
    margin: 5px 0;
}

.contact-social-list a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-Blanco);
}

.contact-social-link:hover {
    color: var(--color-Lila-hover);
}

.contact-social-link:hover .contact-social-icon {
    background-color: var(--color-Lila-hover);
    color: var(--color-Negro);
}

.contact-social-link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
}

.contact-social-icon {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--color-Violeta-button);
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
}

.contact-form-section {
    width: 500px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 21px;
    color: var(--color-Blanco);
}

.input-fullname {
    display: flex;
}

.form-control {
    flex-grow: 1;
    position: relative;
}

.input-control {
    width: 100%;
    padding: 10px 35px;
    display: block;
    border-radius: 20px;
    outline-style: none;
    font-size: 20px;
    background-color: #ffffff6e;
    color: var(--color-Blanco);
}

.input-control:hover {
    box-shadow: 0px 0px 80px -24px inset;
    outline-style: none;
    background-color: var(--color-Gris);
    color: var(--color-Blanco);
}

.contact-send-btn {
    margin-top: 15px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: var(--color-Violeta-button);
    color: #FFFFFF;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.19);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}

.contact-send-btn:hover {
    background-color: var(--color-Lila-hover);
    color: var(--color-Negro);
    cursor: pointer;
}

/* FOOTER */

.footer-nav {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Negro);
}

.footer-nav ul {
    display: flex;
}

.footer-nav li a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-Blanco);
}

.footer-nav a:hover {
    color: var(--color-Lila-hover);
}

/* COMIENZO RESPONSIVE */

@media (max-width:880px) {
    header {
      
    }
    .grid-skills {
        
    }

    .grid-project {
        
    }
}


@media (max-width:480px) {
    .grid-skills {
        
    }
}